@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
}

.custom-img {
  background-image: url('/static/hero2.jpg')
}

